<div class="min-h-screen flex flex-col justify-between">

    <div class="bg-indigo-700 text-white mb-10 py-20 md:py-24">

        <div class="container max-w-screen-lg mx-auto px-10">

            <app-header></app-header>

        </div>

    </div>

    <div class="container max-w-screen-lg mx-auto px-10 flex-grow">

        <app-argonauts></app-argonauts>

    </div>

    <div class="text-center py-10 px-10 text-gray-500 text-xs">
        Réalisé par Jason en Anthestérion de l'an 515 avant J
    </div>

</div>
